body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background color */
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333; /* Header background color */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    padding: 20px;
    text-align: center;
}

.video-container {
    position: relative;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place the video behind other content */
}

.logo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    background-color: #333; /* Logo overlay background color */
    padding: 10px;
    display: none;
}

/* Add more styles as needed */
